body{
    background-color:white;
    transition: 2s;
    /* background-image: url('images/sunny.jpg');
    background-image: url('images/cloudy.jpg');
    background-image: url('images/rain.jpg');
    background-image: url('images/night.jpg'); */
    background-size:100%;
}

main{
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

#titulo{
    font-weight: bold;
}

#texto-temperatura{
    font-size: 40px;
}

#texto-tempo{
    font-weight: 600;
}

#imagem-tempo{
    width: 10rem;
    padding: 10px;
}

#info{
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.flex-info{
    display: flex;
    width: auto;
}

#flex-informacoes {
    display: flex;
    gap: 40px;
}

/* Pra parar de distorcer imagem */
#flex-informacoes img{
    align-self: flex-start;
    margin-right: 8px;
}

#cartao{
    box-shadow: 2px 7px 8px 5px rgba(0,0,0,0.47);
    border: none;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 0px 10px;
    width: 50%; 
    max-width: 540px;
}

#flex-chance-chuva{
    display: flex;
}

.chance-chuva-horas{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.chance-chuva-horas p{
    margin-left: 8px;
}


#cartao-horas{
    overflow-x: scroll;
    border: none;
}


 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

  @media screen and (max-width:767px) {
    #texto-temperatura{
        text-align: center;
    }
    #texto-tempo{
        text-align: center;
    }
  }

  @media screen and (max-width:640px) {
    #cartao{
        width: 55%; 
    }

    #texto-temperatura{
        text-align: center;
    }
    #texto-tempo{
        text-align: center;
    }
  }

  @media screen and (max-width:580px) {
    #cartao{
        width: 60%; 
    }
  }

  
  @media screen and (max-width:532px) {
    #cartao{
        width: 70%; 
    }
  }

  @media screen and (max-width:370px) {
    #cartao{
        width: 90%; 
    }
  }